## Environment Setup

In [8]:
#!pip install openpyxl

In [9]:
import pandas as pd
pd.options.mode.chained_assignment = None

import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

import warnings
warnings.filterwarnings('ignore')


import sys
sys.path.insert (0, './_functions_/')
from functions_eda import *

## Datasets

In [10]:
gas_stations_state = pd.read_csv("./raw_data/gas_stations_state.csv", sep = '\t')

gas_stations_state = gas_stations_state.rename(columns = {"Bundesland":"State", "Anzahl":"Number of gas stations"})

gas_stations_state

                     State  Number of gas stations
0                   Bayern                   1.281
1      Nordrhein-Westfalen                   1.179
2        Baden-W端rttemberg                   1.132
3            Niedersachsen                 839.000
4                   Hessen                 522.000
5          Rheinland-Pfalz                 378.000
6                  Sachsen                 198.000
7       Schleswig-Holstein                 174.000
8                Th端ringen                 142.000
9           Sachsen-Anhalt                 119.000
10             Brandenburg                 113.000
11                  Berlin                 109.000
12                 Hamburg                 103.000
13  Mecklenburg-Vorpommern                 102.000
14                Saarland                  84.000
15                  Bremen                  25.000

In [11]:
gas_stations_state.to_csv('./clean_data/gas_stations_state.csv', index=False)